/* h1.event-title{
    text-align: center;
    font-size: 2em;
    background-color: #4d86ef;
    color:white;
    padding:auto 5vh ;
    margin:3vh 9vw;
} */
*{
    font-family: 'Roboto', sans-serif;
}
.event{top:0;}
.gallery {
    background: rgb(77, 134, 239);
    width: 70vw;
    margin:auto 13vw;
    border-radius: 25px;
    
}
  
  .gallery-cell {
    width:100%;
    height: 75vh;
    margin-right: 10px;
    
    
  }
  
img.event-gallery{
    height:100%;
    width:100%;
    border-radius: 25px;
}

button.next{left:66.5vw;}