*{
    font-family: 'Roboto', sans-serif;
}

html{scroll-behavior: smooth;}
body{
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-size:400px 400px;
    
}

h1{
    font-size: 3em;
    font-weight: 700;
    margin-top: 8vh;
    text-align:center;
}

.layer{

    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    position: relative;
    
}
.color-layer{
    display: flex;
    flex-direction: row;
}
.color-right{clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 49% 100%, 77% 50%, 50% 0);
    margin-right: 9%;
    margin-left: 0;
    padding-left: 0;
    
}
.color-left{clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 49% 100%, 77% 50%, 50% 0);
    transform: rotateY(180deg);
    margin-left: 9%;
    margin-right: 0;
    padding-right:0 ;
}

.color-right,.color-left{
    margin-top: 9%;
    width:1000px;
    height:450px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: 1000000; 
    animation-name: example;
    animation-duration: 5 s;
    animation-iteration-count: 1000000;
}


@-webkit-keyframes example {
    0%   {background-color:rgba(217, 80, 62,.1); left:0px; top:0px;}
    25%  {background-color:rgba(240, 191, 63,.1) ; left:0px; top:0px;}
    50%  {background-color:rgba(77, 134, 239,.1); left:0px; top:0px;}
    75%  {background-color:rgba(70, 152, 94,.1); left:0px; top:0px;}
    100% {background-color:rgba(217, 81, 63,.1); left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color:rgba(217, 80, 62,.1); left:0px; top:0px;}
    25%  {background-color:rgba(240, 191, 63,.1) ; left:0px; top:0px;}
    50%  {background-color:rgba(77, 134, 239,.1); left:0px; top:0px;}
    75%  {background-color:rgba(70, 152, 94,.1); left:0px; top:0px;}
    100% {background-color:rgba(217, 81, 63,.1); left:0px; top:0px;}
  }

/*custom scrollbar*/

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


































































































































































































































































































































































































































































































































    
