*{font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-size: 400px;;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            
        }
        
    
    }

.nav-top{
    background-color:rgba(255,255,255,.6);
   padding-top: 0;
 
   box-shadow: 2px 2px 5px #777;
   font-size: 1.3em;

}

#myNavbar{
    margin-right:5rem;
}
.dsc{
    margin-left:3rem;
    display:flex;
    flex-direction: row;

}
.img{margin-top: .7rem;padding-top:0;}

.sticky-top{
    background-color: rgba(255,255,255,1);
    font-size: 1.3em;
}
.dsc-text{
    padding-top:1.05rem;
    font-size: 1em;
    font-weight: 700;
    animation:move 3s;
    -webkit-animation: move 3s;

}

@keyframes move{
    from{
        margin-left: 50%;

    }
    to{margin-right: 0%;
    }
}
@-webkit-keyframes move{
    from{
        margin-left: 50%;

    }
    to{margin-right: 0%;
    }
}
.logo-sm{
    width:60px;
    height:35px;
    margin-top: 12px;
}

.brackets{padding-right: 13px;}
.brackets a:before, .brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
    margin-top: 5px;
}

.brackets a:before
{
    content: '<';
    
    position:absolute;
    margin-left: -20px;
}

.brackets a:after
{
    content: '>';
    position: absolute;
    margin-left:1px;
}

.brackets a:hover:before, .brackets a:hover:after
{
    opacity: 1;
    font-weight: 700;
}

#home:hover{
    color:rgb(217, 80, 62);
    font-weight: 700;
}
#event:hover{
    color:rgb(77, 134, 239);
    font-weight: 700;
}
#team:hover{
    color:rgb(70, 152, 94);
    font-weight: 700;
}
#contact:hover{
    color:rgb(240, 191, 63);
    font-weight: 700;
}


.layer{

    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    position: relative;
    
}