
@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            left: 0;
            text-align: center;
            
        }
        
    
    }

.nav-top{
    background-color: white;
   padding-top: 0;
   margin-top: .5rem;
}

#myNavbar{
    margin-right:5rem;
}
.dsc{
    margin-left:3rem;
    display:flex;
    flex-direction: row;

}
.img{margin-top: .7rem;padding-top:0;}
.sticky-top{
    background-color: white;
}
.dsc-text{
    padding-top:.8rem;
    
    font-size: 1em;

}
/* .logo-main{margin-top: 3rem;} */
.logo-sm{
    width:60px;
    height:35px;
}